body{
    width: 100%;
    box-sizing: border-box;
}
nav { 
    position: absolute;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    margin: 0 auto;
    top: 1em;
    z-index: 20;
}
/* .hero-header { 
   position: absolute; 
} */

.hero-img {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    z-index:-1;
}


.hero-box {
    width: 300px;
    height: 200px;
    padding: 10px 20px;
    position: absolute;
    margin: 200px auto; 

    left: 0;
    right: 0;
    border: 2px white solid;
    z-index: 100;
}

.hero-text { 
    /* outline: 2px red solid; */
    color: white;
    text-align: left;
    margin: auto 0em;
    font-size: 2.2rem;
}
