body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  margin: 0em;
}
nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  width: 93%;
  top: 1.5em;
  left: 5%;
}

.hero-header {
  position: relative;
  height: 85vh;
  top: 0em;
}

.hero-img {
  max-width: 100vw;
  max-height: 85vh;
  top: 0em;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.hero-box {
  width: 300px;
  height: 200px;
  padding: 10px 20px;
  position: absolute;
  margin: 200px auto;
  left: 0;
  right: 0;
  border: 2px white solid;
  z-index: 100;
}

.hero-text {
  /* outline: 2px red solid; */
  color: white;
  text-align: left;
  margin: auto 0em;
  font-size: 2.5rem;
}

.interactive-vr {
  position: relative;
  padding: 1em;

}

.interactive-header {
  text-align: center;
}

.interactive-paragraph {
  text-align:center;
  font-size: 1rem;
  margin: 0 auto;
  justify-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.vr-img {
  object-fit: contain;
  max-width: 100%;
}

.our-creations {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0em;
  margin: 0 auto;
  display: relative;
}
.creation-card {
  position: relative;
  width: 90%;
  font-weight: 300;
  margin: 0.5em auto;

}

.creation-img {
  max-width: 100% !important;
  object-fit: contains;
  filter: brightness(50%)
}

.creation-title {
  position: absolute;
  font-weight: 300;
  top: 34px;
  left: 20px;
  z-index: 100;
  color: hsl(0, 0%, 84%);
}
.center-btn { 
    text-align: center;
}

.creations-btn { 
    display: inline-block;
    background-color: transparent;
    font-family: Alata, sans-serif;
    font-weight: bold;
    border: 1px solid;
    word-spacing: 3px;
    padding: .5em 2.5em;
}


footer {
  background-color: black;
  height: 400px;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0em 0em 0em !important;
  padding: 50px 0em 0em 0em !important;

}

.footer-links {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.footer-link {
  margin: 0.5em auto;
}

.footer-socials {
  margin-top: 2em;
}

.copy-rights { 
    color: hsl(0, 0%, 41%);
    margin-top: 1em;

}
