body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  margin: 0em;
}
nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  width: 90%;
  top: 1.5em;
  left: 5%;
}


.hero-header {
  position: relative;
  height: 85vh;
  top: 0em;
  background-image: url('./images/mobile/image-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nav-bar{
  display: none;
}


.hero-box {
  width: 300px;
  height: 200px;
  padding: 10px 20px;
  position: absolute;
  margin: 200px auto;
  left: 0;
  right: 0;
  border: 2px white solid;
  z-index: 100;
}

.hero-text {
  /* outline: 2px red solid; */
  color: white;
  text-align: left;
  margin: auto 0em;
  font-size: 2.25rem;
}

.interactive-vr {
  position: relative;
  padding: 1em;

}

.interactive-header {
  text-align: center;
}

.interactive-paragraph {
  text-align:center;
  font-size: 1rem;
  margin: 0 auto;
  justify-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.vr-img {
  object-fit: contain;
  max-width: 100%;
}

.our-creations {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0em;
  margin: 0 auto;
  display: relative;
}
.creation-card {
  position: relative;
  width: 90%;
  font-weight: 300;
  margin: 0.5em auto;

}

.creation-img {
  max-width: 100% !important;
  object-fit: contains;
  filter: brightness(50%)
}

.creation-title {
  position: absolute;
  font-weight: 300;
  top: 34px;
  left: 20px;
  z-index: 100;
  color: hsl(0, 0%, 84%);
}
.center-btn { 
    text-align: center;
}

.creations-btn { 
    display: inline-block;
    background-color: transparent;
    font-family: Alata, sans-serif;
    font-weight: bold;
    border: 1px solid;
    word-spacing: 3px;
    padding: .5em 2.5em;
}


footer {
  background-color: black;
  height: 400px;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0em 0em 0em !important;
  padding: 50px 0em 0em 0em !important;

}

.footer-links {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.footer-link {
  margin: 0.5em auto;
}

.footer-socials {
  margin-top: 2em;
}

.copy-rights { 
    color: hsl(0, 0%, 41%);
    margin-top: 1em;
}
 
@media screen and (min-width: 600px) {
  
nav {
  width: 90%;
  z-index: 333;
}

.nav-dropdown{
   display: none;
}
.brand-logo { 
  width: 200px;
}

.nav-bar { 
  display: inherit;
}

.link { 
  color: white;
  margin-right: 1.2em;
  text-decoration: none;
}

.hero-header {
  max-height: 50vh;
  height: 100vw;
  background-image: url('./images/desktop/image-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-box {
  
  width: 22em;
  height: 9em;
  padding: 1em 2em;
  margin: 7em auto auto 5%;
}

.hero-text {
  height: 100%;
  width: 100%;
  font-weight:300;
  font-size: 3rem;
}

.interactive-vr {
  position: relative;
  max-width: 1500px;
  margin: 3em auto; 
  padding: 0em; 
}

.interactive-vr-content { 
  position: absolute; 
  width: 550px;
  height: 350px;
  top: 40%;
  left: 700px;
  z-index: 100;
  padding: 1em 3em; 
  background-color: white;
}
.interactive-header {
  text-align: left;
  font-size: 2rem;
}

.interactive-paragraph {
  text-align: left;
  font-size: 1.2rem;
}
.vr-img {
  z-index: -3; 
  width: 60%;
  content:url("./images/desktop/image-interactive.jpg")
}


.our-creations {
 
}
.creation-card {

}

.creation-img {

}

.creation-title {

}
.center-btn { 
    
}

.creations-btn { 
  
}


footer {

}

.footer-links {
 
}

.footer-link {
  margin: 0.5em auto;
}

.footer-socials {
  margin-top: 2em;
}

.copy-rights { 
    color: hsl(0, 0%, 41%);
    margin-top: 1em;
}
}